:root {
    --color-blue: 157, 185, 205;
    --color-tan: 255, 248, 214;
    --color-mustard: 224, 181, 102;
    
    --color-green:178, 195, 131;
    --color-lightBlack: 33, 33, 33;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    position: relative;
}

header{
    background-color: rgb(var(--color-mustard));
    border-bottom: 5px solid rgb(var(--color-tan))
}

header h1{
    font-family: "Shizuru", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(20px, 4em, 70px);
    margin: 5px 5px 10px 30px;
    color: whitesmoke;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: calc(100vh - 200px);

    /* border-top: 2px solid rgb(44, 44, 44); */

    /* display: none; */
}

#left-menu{
    background-color: rgb(var(--color-blue));
}

#nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    margin-top: 20px;
}

.nav-item{
    padding: 10px;
    margin-left: 50px;
}

#nav label{
    font-family: "Urbanist", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 20px 0 0 30px;
    
}

#projects{
    display: flex;
    flex-direction: column;
}


#nav button{
    border: none;
    background-color: transparent;

    text-align: left;
    font-family: "Urbanist", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

#nav button:hover{
    text-decoration: underline;
}

button#add-task,
button#add-project{
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgba(var(--color-tan), 0.5);
    border: 1px solid silver;
    border-radius: 10px;
    width: 140px;
    padding: 5px;
    line-height: 25px;

}

button#add-task:hover,
button#add-project:hover{
    background-color: rgba(var(--color-tan), 0.8);
    /* transform: scale(1.1); */
    border: 2px solid rgb(var(--color-mustard));
    text-decoration: none;
}

#add-task span,
#add-project span{
    font-size: 1.5em;
}


/************MainArea***************/

#main{
    background-color: rgb(var(--color-tan));
}

/****infoBar****/

#info-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;

    height: 70px;
    border-bottom: 1px solid rgb(163, 163, 163);
    border-top: 1px solid rgb(163, 163, 163);
    background-color: white;

    font-size: 20px;
}

#list-name{
    font-size: 1.5em;
    font-family: "shizuru";
    font-weight: 600;
    color: white;
    
    /*text shadow*/
        color: #FFFFFF;
        background: #FFFFFF;
        text-shadow: 2px 2px 0 #00000072, 2px -2px 0 #00000082, -2px 2px 0 #0000007a, -2px -2px 0 #00000074, 2px 0px 0 #000000, 0px 2px 0 #0000007b, -2px 0px 0 #000000, 0px -2px 0 #000000;
        color: #FFFFFF;
        background: #FFFFFF;
    

    padding: 5px 20px 5px 20px;

    background-color: rgb(var(--color-blue));
    border-radius: 10px;
    border: 1px solid rgba(var(--color-lightBlack),.5);
}

#sort{
    font-size: .8em;
    border: 1px solid rgba(var(--color-lightBlack),.3);
    border-radius: 5px;
    width: 100px;
}

.priority-toggle{
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;

}

.priority-button{
    height: 50px;
    padding: 0 5px 0 5px;
    font-size: .7em;
    font-weight: 500;
    color: rgb(var(--color-lightBlack));

    border: 1px solid silver;
}
.priority-button:active{
    border-color: black;
    transform:scale(120%);
    filter: brightness(120%);
}

.low-priority{
    background-color: rgb(127, 186, 127);
}
.medium-priority{
    background-color: rgb(235, 235, 144);
}
.high-priority{
    background-color: rgb(216, 135, 135);
}



/****tasks******/

#task-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgba(var(--color-tan), 0.5);
}

.task-item{
    display: flex;

}

.task{
    display: flex;
}

.task-info{
    display: flex;
}

/***********New Task********/
.add-task-form{
    display: flex;
    flex-direction: column;

    position: absolute;
    /* left: 50%; */
    top: 20%;
    left: 10%;

    width: 300px;
    
    background-color: rgba(255, 255, 255, 0.763);

    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.271);
}

.add-task-top{
    display: flex;
    justify-content: space-between;

    background: rgba(135, 135, 135, 0.837);
    padding: 10px 5px 5px 5px;
    color: whitesmoke;


    border-top: 2px solid rgba(0, 0, 0, 0.718);
    border-bottom: 1px solid gray;
}

.exit-add-task{
    padding: 2px 4px 2px 4px;
}
.exit-add-task:hover{
    color: white;
    background-color: gray;
}

.add-task-body{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 0;
    
}

.add-task-body .section{
    margin: 10px 20px 5px 20px;
    padding: 10px;
    background-color: rgb(var(--color-green));
    border-radius: 5px;
}

.section label{
    margin-right: 5px;
}

#task-description{
   padding: 4px;
}

.add-task-body .priority-button{
    height: 30px;
}




.hide{
    display: none;
}


/***********header********/
header{
    height: 100px;
}

/***********foot********/
.foot{
    height: 100px;
    background-color: rgb(var(--color-mustard));
}